<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new post</title>
</head>
<body>
    <h1>Create New Form</h1>
    <form method="post" action="/posts">
        <input type="text" placeholder="Enter Username" name="username">
        <br>
        <br>
        <textarea placeholder="Enter Content" name="content" rows="10" cols="30"></textarea>
        <br><br>
        <button>Submit Post</button>
    </form>
    
</body>
</html>