<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your are Inside Post Request</h1>
    <h4>Username entered: <%= username%> <br> Password entered: <%= pw %></h4>
</body>
</html>