<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylehome.css">
   
    
</head>
<body>
   
    <div class="container">
        <i class="fa-brands fa-houzz" id="button_out"></i>
        
    <div class="sidebar">
        <div class="logo"><i class="fa-brands fa-houzz" id="button_in"></i></div>
        <div class="elements"><i class="fa-solid fa-house"></i>Home</div>
        <div class="elements"><i class="fa-brands fa-wpexplorer"></i>Explore</div>
        <div class="elements"><i class="fa-solid fa-bell"></i>Notifications</div>
        <div class="elements"><i class="fa-solid fa-message"></i>Messages</div>
        <div class="elements"><i class="fa-solid fa-bookmark"></i>BookMarks</div>
        <div class="elements"><i class="fa-solid fa-list"></i>Lists</div>
        <div class="elements"><i class="fa-solid fa-user"></i>Profile</div>
        <div class="elements"><i class="fa-regular fa-circle-dot"></i>More</div>
    </div>
    <div class="content">
       
        <form method="get" action="/threads/new">
        <button class="tweet_btn">New tweet</button>
        </form>
        
        <%for(let post of posts){ %>
            <div class="tweet">
                <p>@<%=post.username %></p>
                <p><%= post.content %></p>
                <div class="buttons">
                    <form method="get" action="/threads/edit/<%=post.id%>">
                        <button class="btn">Edit</button>
                    </form>
                    <form method="POST" action="/threads/<%=post.id%>?_method=DELETE">
                        <button type="submit" class="btn">Delete</button>
                    </form>
                </div>
               
                
            </div>
        <% } %>
    </div>
    <form method="get" action="/threads/login"><button class="logout_btn">Log out</button></form>

</div>

    <script src="/app.js"></script>
</body>
</html>