<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form>
            <input type="text" placeholder="Enter Username" name="username">
            <input type="text" placeholder="Enter Email" name="email">
            <input type="password" placeholder="Enter Password" name="password">
            <button class="Submit">Submit</button>
        </form>
    </div>
</body>
</html>