<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter your Data</title>
</head>
<body>
    <h1>Enter Your Details</h1>
    <form method="post" action="/new">
        <input type="text" placeholder="Enter username" name="username">
        <br><br>
        <input type="text" placeholder="Enter Email" name="email">
        <br><br>
        <input type="password" placeholder="Enter Password" name="password">
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>