<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2px">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        <% for (let datas of data){ %>
            <tr>
                <td><%= datas.id%></td>
                <td><%= datas.username%></td>
                <td><%= datas.email%></td>
                <td>
                    <form method="post" action="/<%=datas.id%>/?_method=DELETE">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
        <%} %>

    </table>
    
</body>
</html>

